html, body {
    background-color: #fff;
    background-image: url('../img/bg-sipnie.svg');
    background-repeat: repeat-y;
    background-size: cover;
    color: #636b6f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.logo {
    background-image: url('../img/sipnie-logo_01_350.png');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    position: relative;
}
